



.frame-home {
  background-color: #ffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.frame-home .overlap-wrapper {
  background-color: #ffffff;
  overflow: hidden;
  width: 1920px;
  height: 9686px;
}

.frame-home .overlap {
  position: relative;
  width: 6175px;
  height: 9849px;
  top: -391px;
  left: -2613px;
}

.frame-home .frame {
  display: flex;
  flex-direction: column;
  width: 4677px;
  align-items: flex-end;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
}

.frame-home .div {
  display: flex;
  flex-direction: column;
  width: 2086.33px;
  height: 3333.65px;
  align-items: flex-start;
  position: relative;
}

.frame-home .frame-2 {
  display: flex;
  flex-direction: column;
  width: 2086.33px;
  height: 1786px;
  align-items: flex-start;
  position: relative;
}

.frame-home .whatsapp-image-wrapper {
  display: flex;
  flex-direction: column;
  width: 1942px;
  align-items: flex-end;
  justify-content: center;
  position: relative;
  flex: 0 0 auto;
}

.frame-home .whatsapp-image {
  position: relative;
  width: 1521px;
  height: 1500px;
  mix-blend-mode: hard-light;
  object-fit: cover;
}

.frame-home .frame-home-wrapper {
  display: flex;
  flex-direction: column;
  width: 2086.33px;
  align-items: flex-end;
  justify-content: center;
  position: relative;
  flex: 0 0 auto;
  margin-top: -1421px;
}

.frame-home .overlap-group-wrapper {
  position: relative;
  width: 2064.33px;
  height: 1707px;
}

.frame-home .overlap-group {
  position: relative;
  width: 2064px;
  height: 1707px;
}

.frame-home .rectangle-wrapper {
  display: flex;
  flex-direction: column;
  width: 1920px;
  height: 1707px;
  align-items: center;
  justify-content: flex-end;
  position: absolute;
  top: 0;
  left: 0;
}

.frame-home .rectangle {
  position: relative;
  width: 1920px;
  height: 302px;
  background-color: #ffffff;
}

.frame-home .div-wrapper {
  display: flex;
  flex-direction: column;
  width: 399px;
  height: 1421px;
  align-items: center;
  justify-content: flex-end;
  position: absolute;
  top: 0;
  left: 0;
}

.frame-home .rectangle-2 {
  position: relative;
  width: 399px;
  height: 1112px;
  background-color: #000000;
}

.frame-home .frame-3 {
  display: flex;
  flex-direction: column;
  width: 90px;
  height: 406px;
  align-items: center;
  justify-content: flex-end;
  position: absolute;
  top: 0;
  left: 61px;
}

.frame-home .text-wrapper {
  position: relative;
  width: fit-content;
  font-family: "Josefin Sans", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 40px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.frame-home .frame-4 {
  display: flex;
  flex-direction: column;
  width: 110px;
  height: 617px;
  align-items: center;
  justify-content: flex-end;
  position: absolute;
  top: 0;
  left: 61px;
}

.frame-home .text-wrapper-2 {
  position: relative;
  width: fit-content;
  font-family: "Poppins", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 35px;
  letter-spacing: 0;
  line-height: normal;
  z-index: 1;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.frame-home .text-wrapper-2 a{
  color: white;
}

.text-wrapper-2:hover {
  transform: translateX(10px);
}

.frame-home .frame-5 {
  display: flex;
  flex-direction: column;
  width: 105px;
  height: 673px;
  align-items: center;
  justify-content: flex-end;
  position: absolute;
  top: 0;
  left: 61px;
}

.frame-home .text-wrapper-3 {
  position: relative;
  width: fit-content;
  font-family: "Poppins", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 35px;
  letter-spacing: 0;
  line-height: normal;
  z-index: 1;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.frame-home .text-wrapper-3 a{
  color: white;
}

.text-wrapper-3:hover {
  transform: translateX(10px);
}

.frame-home .frame-6 {
  display: flex;
  flex-direction: column;
  width: 145px;
  height: 729px;
  align-items: center;
  justify-content: flex-end;
  position: absolute;
  top: 0;
  left: 60px;
}

.frame-home .frame-7 {
  display: flex;
  flex-direction: column;
  width: 106px;
  height: 785px;
  align-items: center;
  justify-content: flex-end;
  position: absolute;
  top: 0;
  left: 61px;
}

.frame-home .frame-8 {
  display: flex;
  flex-direction: column;
  width: 95px;
  height: 841px;
  align-items: center;
  justify-content: flex-end;
  position: absolute;
  top: 0;
  left: 61px;
}

.frame-home .frame-9 {
  display: flex;
  flex-direction: column;
  width: 143px;
  height: 897px;
  align-items: center;
  justify-content: flex-end;
  position: absolute;
  top: 0;
  left: 61px;
}

.frame-home .graphic-designer-wrapper {
  display: flex;
  flex-direction: column;
  width: 520px;
  height: 967px;
  align-items: center;
  justify-content: flex-end;
  position: absolute;
  top: 0;
  left: 468px;
}

.frame-home .graphic-designer {
  position: relative;
  width: fit-content;
  font-family: "Poppins", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 30px;
  letter-spacing: 0;
  line-height: normal;
}

.frame-home .span {
  font-weight: 700;
  font-style: italic;
}

.frame-home .text-wrapper-4 {
  font-weight: 300;
  font-style: italic;
}

.frame-home .socmedbw-converted-wrapper {
  display: flex;
  flex-direction: column;
  width: 59px;
  height: 1061px;
  align-items: center;
  justify-content: flex-end;
  position: absolute;
  top: 0;
  left: 61px;
}

.frame-home .socmedbw-converted {
  position: relative;
  width: 59px;
  height: 59px;
  object-fit: cover;
}

.frame-home .a-wrapper {
  display: flex;
  flex-direction: column;
  width: 61px;
  height: 1132px;
  align-items: center;
  justify-content: flex-end;
  position: absolute;
  top: 0;
  left: 60px;
}

.frame-home .a {
  position: relative;
  width: 61px;
  height: 61px;
  object-fit: cover;
}

.frame-home .dc-wrapper {
  display: flex;
  flex-direction: column;
  width: 60px;
  height: 1202px;
  align-items: center;
  justify-content: flex-end;
  padding: 3.81e-6px 0px;
  position: absolute;
  top: 0;
  left: 61px;
}

.frame-home .dc {
  position: relative;
  width: 60px;
  height: 59.99px;
  object-fit: cover;
}

.frame-home .logo-wrapper {
  display: flex;
  flex-direction: column;
  width: 58px;
  height: 512px;
  align-items: center;
  justify-content: flex-end;
  padding: 2.29e-5px 0px;
  position: absolute;
  top: 0;
  left: 1783px;
  overflow: hidden;
}

.frame-home .logo {
  display: flex;
  flex-direction: column;
  width: 57.85px;
  height: 126.16px;
  align-items: flex-end;
  gap: 9px;
  padding: 0px 3.99px 0px 0px;
  position: relative;
}

.frame-home .group {
  position: relative;
  width: 53.86px;
  height: 53.86px;
  border-radius: 26.93px;
  box-shadow: 7.91px 9.04px 15.44px #111e5273;
  background: linear-gradient(180deg, rgb(102, 11, 253) 0%, rgb(118, 231, 34) 66.01%, rgb(36, 0, 255) 100%);
}

.frame-home .ellipse-wrapper {
  position: relative;
  width: 50px;
  height: 50px;
  top: 2px;
  left: 2px;
  border-radius: 25.05px;
  filter: blur(9.42px);
  background: radial-gradient(50% 50% at 50% 50%, rgb(36, 0, 255) 0%, rgb(255, 212, 11) 56.34%, rgb(11, 255, 172) 100%);
}

.frame-home .ellipse {
  position: relative;
  width: 43px;
  height: 43px;
  top: 2px;
  left: 2px;
  border-radius: 21.28px;
  filter: blur(1.88px);
  background: radial-gradient(50% 50% at 50% 50%, rgba(255, 255, 255, 0) 58.36%, rgba(255, 255, 255, 0.55) 100%);
}

.frame-home .MN-STR-SLD {
  position: relative;
  width: 51.86px;
  font-family: "Sora", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 21.3px;
  letter-spacing: 0;
  line-height: 20.5px;
}

.frame-home .GIOVINNO-HIZKIA-wrapper {
  display: flex;
  flex-direction: column;
  width: 720px;
  height: 892px;
  align-items: center;
  justify-content: flex-end;
  position: absolute;
  top: 0;
  left: 468px;
}

.frame-home .GIOVINNO-HIZKIA {
  position: relative;
  width: fit-content;
  font-family: "Poppins", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 80px;
  letter-spacing: 0;
  line-height: 77.2px;
}

.frame-home .frame-10 {
  display: flex;
  flex-direction: column;
  width: 355px;
  height: 738px;
  align-items: center;
  justify-content: flex-end;
  position: absolute;
  top: 0;
  left: 468px;
}

.frame-home .text-wrapper-5 {
  position: relative;
  width: fit-content;
  font-family: "Poppins", Helvetica;
  font-weight: 500;
  color: #000000;
  font-size: 60px;
  letter-spacing: 0;
  line-height: 57.9px;
  white-space: nowrap;
}

.frame-home .frame-11 {
  display: flex;
  flex-direction: column;
  width: 208px;
  height: 1043px;
  align-items: center;
  justify-content: flex-end;
  position: absolute;
  top: 0;
  left: 468px;
}

.frame-home .rectangle-3 {
  position: relative;
  width: 208px;
  height: 46px;
  background-color: #2400ff;
  border-radius: 56px;
}

.frame-home .frame-12 {
  display: flex;
  flex-direction: column;
  width: 167px;
  height: 1034px;
  align-items: center;
  justify-content: flex-end;
  position: absolute;
  top: 0;
  left: 488px;
}

.frame-home .text-wrapper-6 {
  position: relative;
  width: fit-content;
  font-family: "Poppins", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 17.9px;
  letter-spacing: 0;
  line-height: normal;
}

.frame-home .text-wrapper-6 a{
  color: white;
}

.frame-home .img {
  position: absolute;
  width: 1087px;
  height: 1195px;
  top: 0;
  left: 977px;
}

.frame-home .frame-13 {
  position: absolute;
  width: 526px;
  height: 1060px;
  top: 300px;
  left: 1172px;
}

.frame-home .frame-14 {
  position: absolute;
  width: 526px;
  height: 1044px;
  top: 300px;
  left: 1156px;
}

.frame-home .frame-15 {
  position: absolute;
  width: 526px;
  height: 1031px;
  top: 300px;
  left: 1143px;
}

.frame-home .frame-16 {
  position: absolute;
  width: 526px;
  height: 1014px;
  top: 300px;
  left: 1126px;
}

.frame-home .frame-17 {
  position: relative;
  width: 1942px;
  height: 1833.65px;
  margin-top: -286px;
}

.frame-home .overlap-2 {
  position: absolute;
  width: 1942px;
  height: 275px;
  top: 0;
  left: 0;
}

.frame-home .converted-wrapper {
  display: flex;
  flex-direction: column;
  width: 1942px;
  align-items: flex-end;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
}

.frame-home .converted {
  position: relative;
  width: 1920px;
  height: 275px;
  object-fit: cover;
}

.frame-home .frame-18 {
  display: flex;
  flex-direction: column;
  width: 429px;
  align-items: flex-end;
  justify-content: center;
  position: absolute;
  top: 38px;
  left: 0;
}

.frame-home .text-wrapper-7 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Josefin Sans", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 79.3px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.frame-home .frame-19 {
  display: flex;
  flex-direction: column;
  width: 605px;
  align-items: flex-end;
  justify-content: center;
  position: absolute;
  top: 94px;
  left: 0;
}

.frame-home .text-wrapper-8 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Poppins", Helvetica;
  font-weight: 600;
  color: #2400ff;
  font-size: 41.6px;
  letter-spacing: 0;
  line-height: normal;
}

.frame-home .it-is-a-long-wrapper {
  display: flex;
  flex-direction: column;
  width: 909px;
  align-items: flex-end;
  justify-content: center;
  position: absolute;
  top: 156px;
  left: 0;
}

.frame-home .it-is-a-long {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Poppins", Helvetica;
  font-weight: 300;
  color: #000000;
  font-size: 25.1px;
  letter-spacing: 0;
  line-height: normal;
}

.frame-home .frame-about-wrapper {
  display: flex;
  flex-direction: column;
  width: 1942px;
  align-items: flex-end;
  justify-content: center;
  position: absolute;
  top: 275px;
  left: 0;
}

.frame-home .frame-about {
  position: relative;
  width: 1920px;
  height: 1270px;
  background-color: #00000066;
}

.frame-home .overlap-3 {
  position: relative;
  height: 1259px;
  top: 11px;
  background-image: url(./img/whatsapp-image-2023-11-08-at-15-35-1.png);
  background-size: cover;
  background-position: 50% 50%;
}

.frame-home .text-wrapper-9 {
  position: absolute;
  width: 116px;
  top: 1037px;
  left: 121px;
  font-size: 43.7px;
  font-family: "Sora", Helvetica;
  font-weight: 700;
  color: var(--greyscalewhite);
  letter-spacing: 0;
  line-height: normal;
}

.frame-home .overlap-4 {
  position: absolute;
  width: 1427px;
  height: 773px;
  top: 265px;
  left: 121px;
}

.frame-home .overlap-5 {
  position: absolute;
  width: 1205px;
  height: 507px;
  top: 0;
  left: 0;
}

.frame-home .overlap-6 {
  position: absolute;
  width: 1205px;
  height: 382px;
  top: 0;
  left: 0;
}

.frame-home .text-wrapper-10 {
  position: absolute;
  width: 874px;
  top: 84px;
  left: 0;
  font-family: "Sora", Helvetica;
  font-weight: 700;
  color: var(--greyscalewhite);
  font-size: 194px;
  letter-spacing: -2.91px;
  line-height: 166.9px;
}

.frame-home .text-wrapper-11 {
  left: 886px;
  position: absolute;
  width: 257px;
  top: 137px;
  font-family: "Sora", Helvetica;
  font-weight: 700;
  color: var(--greyscalewhite);
  font-size: 80.3px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.frame-home .ellipse-2 {
  position: absolute;
  width: 400px;
  height: 400px;
  top: 0;
  left: 823 px;
}

.frame-home .ellipse-3 {
  position: absolute;
  width: 400px;
  height: 400px;
  top: 0;
  left: 859px;
}

.frame-home .text-wrapper-12 {
  position: absolute;
  width: 207px;
  top: 104px;
  left: 911px;
  font-family: "Sora", Helvetica;
  font-weight: 700;
  color: var(--sharp-color-schemesharp-03-green);
  font-size: 21.9px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.frame-home .text-wrapper-13 {
  position: absolute;
  width: 170px;
  top: 238px;
  left: 929px;
  font-family: "Segoe UI-Bold", Helvetica;
  font-weight: 700;
  color: var(--greyscalewhite);
  font-size: 19.5px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.frame-home .line {
  position: absolute;
  width: 320px;
  height: 340px;
  top: 130px;
  left: 0;
}

.frame-home .text-wrapper-14 {
  position: absolute;
  width: 412px;
  top: 273px;
  left: 325px;
  font-family: "Sora", Helvetica;
  font-weight: 400;
  color: var(--greyscalewhite);
  font-size: 47.3px;
  letter-spacing: 0;
  line-height: normal;
}

.frame-home .detail-oriented {
  position: absolute;
  width: 806px;
  top: 375px;
  left: 0;
  font-family: "Poppins", Helvetica;
  font-weight: 400;
  color: var(--deep-gray);
  font-size: 22.3px;
  letter-spacing: 0;
  line-height: normal;
}

.frame-home .overlap-7 {
  position: absolute;
  width: 382px;
  height: 382px;
  top: 390px;
  left: 1045px;
}

.frame-home .text-wrapper-15 {
  left: 63px;
  position: absolute;
  width: 257px;
  top: 137px;
  font-family: "Sora", Helvetica;
  font-weight: 700;
  color: var(--greyscalewhite);
  font-size: 80.3px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.frame-home .ellipse-4 {
  position: absolute;
  width: 382px;
  height: 382px;
  top: 0;
  left: 0;
}

.frame-home .ellipse-5 {
  position: absolute;
  width: 382px;
  height: 382px;
  top: 0;
  left: 1px;
}

.frame-home .text-wrapper-16 {
  position: absolute;
  width: 207px;
  top: 104px;
  left: 88px;
  font-family: "Sora", Helvetica;
  font-weight: 700;
  color: var(--sharp-color-schemesharp-03-green);
  font-size: 21.9px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.frame-home .text-wrapper-17 {
  position: absolute;
  width: 170px;
  top: 238px;
  left: 106px;
  font-family: "Segoe UI-Bold", Helvetica;
  font-weight: 700;
  color: var(--greyscalewhite);
  font-size: 19.5px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.frame-home .frame-20 {
  position: absolute;
  width: 54px;
  height: 54px;
  top: 747px;
  left: 1772px;
  background-image: url(./img/vector-1.svg);
  background-size: 100% 100%;
}

.frame-home .text-wrapper-18 {
  position: absolute;
  width: 37px;
  top: 13px;
  left: 8px;
  font-family: "Sora", Helvetica;
  font-weight: 700;
  color: var(--greyscalewhite);
  font-size: 20.8px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.frame-home .frame-21 {
  position: absolute;
  width: 54px;
  height: 54px;
  top: 813px;
  left: 1772px;
  background-image: url(./img/vector.svg);
  background-size: 100% 100%;
}

.frame-home .logo-2 {
  display: flex;
  flex-direction: column;
  width: 61px;
  height: 133px;
  align-items: center;
  gap: 9px;
  position: absolute;
  top: 140px;
  left: 1769px;
}

.frame-home .group-2 {
  width: 56.79px;
  height: 56.79px;
  border-radius: 28.4px;
  box-shadow: 8.34px 9.53px 16.28px #111e5273;
  position: relative;
  background: linear-gradient(180deg, rgb(102, 11, 253) 0%, rgb(118, 231, 34) 66.01%, rgb(36, 0, 255) 100%);
}

.frame-home .overlap-group-2 {
  width: 53px;
  height: 53px;
  border-radius: 26.41px;
  filter: blur(9.93px);
  position: relative;
  top: 2px;
  left: 2px;
  background: radial-gradient(50% 50% at 50% 50%, rgb(36, 0, 255) 0%, rgb(255, 212, 11) 56.34%, rgb(11, 255, 172) 100%);
}

.frame-home .ellipse-6 {
  width: 45px;
  height: 45px;
  top: 2px;
  left: 2px;
  border-radius: 22.44px;
  filter: blur(1.99px);
  position: relative;
  background: radial-gradient(50% 50% at 50% 50%, rgba(255, 255, 255, 0) 58.36%, rgba(255, 255, 255, 0.55) 100%);
}

.frame-home .MN-STR-SLD-wrapper {
  display: flex;
  flex-direction: column;
  width: 61px;
  align-items: flex-end;
  justify-content: center;
  position: relative;
  flex: 0 0 auto;
}

.frame-home .MN-STR-SLD-2 {
  width: 54.69px;
  margin-top: -1px;
  font-size: 22.4px;
  line-height: 21.7px;
  position: relative;
  font-family: "Sora", Helvetica;
  font-weight: 700;
  color: var(--greyscalewhite);
  letter-spacing: 0;
}

.frame-home .frame-22 {
  position: absolute;
  width: 6156px;
  height: 6599px;
  top: 3250px;
  left: 20px;
}

.frame-home .overlap-8 {
  position: relative;
  width: 3787px;
  height: 6599px;
  left: 2369px;
}

.frame-home .overlap-9 {
  position: absolute;
  width: 3787px;
  height: 6599px;
  top: 0;
  left: 0;
}

.frame-home .vector {
  top: 4887px;
  left: 302px;
  position: absolute;
  width: 487px;
  height: 1px;
}

.frame-home .vector-2 {
  top: 4126px;
  left: 908px;
  position: absolute;
  width: 487px;
  height: 1px;
}

.frame-home .vector-3 {
  top: 4888px;
  left: 908px;
  position: absolute;
  width: 487px;
  height: 1px;
}

.frame-home .vector-4 {
  top: 4126px;
  left: 1618px;
  position: absolute;
  width: 487px;
  height: 1px;
}

.frame-home .vector-5 {
  top: 4888px;
  left: 1618px;
  position: absolute;
  width: 487px;
  height: 1px;
}

.frame-home .rectangle-4 {
  position: absolute;
  width: 445px;
  height: 127px;
  top: 5032px;
  left: 982px;
  background-color: #0038ff;
  border-radius: 66.65px;
}

.frame-home .text-wrapper-19 {
  position: absolute;
  top: 5051px;
  left: 1043px;
  font-family: "Poppins", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 58.8px;
  letter-spacing: 0;
  line-height: normal;
}

.frame-home .rectangle-5 {
  position: absolute;
  width: 276px;
  height: 1105px;
  top: 5494px;
  left: 1888px;
  background-color: #0038ff;
}

.frame-home .text-wrapper-20 {
  position: absolute;
  top: 5912px;
  left: 1489px;
  font-family: "Poppins", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 25.8px;
  letter-spacing: 0;
  line-height: 40.6px;
  white-space: nowrap;
}

.frame-home .komplek-villas-mas {
  position: absolute;
  top: 6136px;
  left: 1489px;
  font-family: "Poppins", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 25.8px;
  letter-spacing: 0;
  line-height: 40.6px;
}

.frame-home .text-wrapper-21 {
  position: absolute;
  top: 6242px;
  left: 1489px;
  font-family: "Poppins", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 25.8px;
  letter-spacing: 0;
  line-height: 40.6px;
  white-space: nowrap;
}

.frame-home .element {
  position: absolute;
  width: 134px;
  height: 106px;
  top: 6219px;
  left: 1363px;
}

.frame-home .element-2 {
  position: absolute;
  width: 3787px;
  height: 2283px;
  top: 597px;
  left: 0;
  object-fit: cover;
}

.frame-home .element-wrapper {
  display: flex;
  flex-direction: column;
  width: 2583px;
  align-items: flex-end;
  justify-content: center;
  padding: 0px 0px 0px 2368.58px;
  position: absolute;
  top: 315px;
  left: 0;
  overflow: hidden;
}

.frame-home .element-3 {
  position: relative;
  width: 4951.73px;
  height: 2785px;
  margin-left: -4737.17px;
  object-fit: cover;
}

.frame-home .img-wrapper {
  display: flex;
  flex-direction: column;
  width: 2241px;
  align-items: flex-end;
  justify-content: center;
  padding: 0px 0px 0px 2240px;
  position: absolute;
  top: 2723px;
  left: 0;
  overflow: hidden;
}

.frame-home .element-4 {
  position: relative;
  width: 4481px;
  height: 2796px;
  margin-left: -4480px;
  object-fit: cover;
}

.frame-home .frame-23 {
  display: flex;
  flex-direction: column;
  width: 2007px;
  align-items: flex-end;
  justify-content: flex-end;
  position: absolute;
  top: 2997px;
  left: 0;
}

.frame-home .element-5 {
  position: relative;
  width: 1973px;
  height: 1023px;
  object-fit: cover;
}

.frame-home .frame-24 {
  display: flex;
  flex-direction: column;
  width: 1084px;
  align-items: flex-end;
  justify-content: center;
  position: absolute;
  top: 1704px;
  left: 0;
  z-index: 1;
  overflow: hidden;
  transition: backdrop-filter 0.3s ease-in-out;
}




.frame-home .rectangle-6 {
  position: relative;
  width: 711px;
  height: 447px;
  background-color: #f4f4f4;
  border-radius: 79px;
  overflow: hidden;
  transition: transform 0.3s ease-in-out;
}



.frame-home .rectangle-6 .caption1 {
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: justify;
  color: white;
  font-weight: normal;
  font-family: 'poppins';
  transition: opacity 0.3s ease;
}


.frame-home .frame-25 {
  display: flex;
  flex-direction: column;
  width: 1084px;
  align-items: flex-end;
  justify-content: center;
  position: absolute;
  top: 2169px;
  left: 0;
}

.frame-home .rectangle-b {
  position: relative;
    width: 711px;
    height: 447px;
    background-color: #f4f4f4;
    border-radius: 79px;
    transition: transform 0.3s ease-in-out; 
    transition: background-color 0.3s ease-in-out;
  }
.frame-home .frame-26 {
  display: flex;
  flex-direction: column;
  width: 2007px;
  align-items: flex-end;
  justify-content: center;
  position: absolute;
  top: 1704px;
  left: 0;
}

.frame-home .rectangle-7 {
  position: relative;
  width: 815px;
  height: 447px;
  background-color: #f4f4f4;
  border-radius: 79px;
}

.frame-home .frame-27 {
  display: flex;
  flex-direction: column;
  width: 2007px;
  align-items: flex-end;
  justify-content: center;
  position: absolute;
  top: 2169px;
  left: 0;
}

.frame-home .frame-28 {
  display: flex;
  flex-direction: column;
  width: 2164px;
  align-items: flex-end;
  justify-content: center;
  position: absolute;
  top: 1076px;
  left: 0;
}

.frame-home .rectangle-8 {
  position: relative;
  width: 2020px;
  height: 302px;
  background-color: #232324;
}

.frame-home .frame-specialist-wrapper {
  display: flex;
  flex-direction: column;
  width: 2164px;
  align-items: flex-end;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
}

.frame-home .frame-specialist {
  position: relative;
  width: 1937px;
  height: 1086px;
}

.frame-home .overlap-10 {
  position: relative;
  height: 1086px;
}

.frame-home .image {
  position: absolute;
  width: 1937px;
  height: 1080px;
  top: 6px;
  left: 0;
  object-fit: cover;
}

.frame-home .rectangle-9 {
  position: absolute;
  width: 1937px;
  height: 1080px;
  top: 0;
  left: 0;
  background-color: #0d0d0d99;
}

.frame-home .footer {
  display: flex;
  flex-direction: column;
  width: 227px;
  height: 83px;
  align-items: flex-start;
  position: absolute;
  top: 958px;
  left: 125px;
  background-color: transparent;
}

.frame-home .text-wrapper-22 {
  position: relative;
  width: 81.55px;
  margin-top: -1px;
  font-size: 30.3px;
  font-family: "Sora", Helvetica;
  font-weight: 700;
  color: var(--greyscalewhite);
  letter-spacing: 0;
  line-height: normal;
}

.frame-home .monster-slide-by {
  position: relative;
  width: 226.81px;
  font-family: "Segoe UI-Regular", Helvetica;
  font-weight: 400;
  color: var(--greyscalewhite);
  font-size: 17.7px;
  letter-spacing: 0;
  line-height: 22.6px;
}

.frame-home .logo-3 {
  display: flex;
  flex-direction: column;
  width: 66px;
  height: 140px;
  align-items: flex-end;
  gap: 10px;
  padding: 0px 4.55px 0px 0px;
  position: absolute;
  top: 95px;
  left: 1786px;
}

.frame-home .group-3 {
  width: 61.41px;
  height: 60.87px;
  border-radius: 30.7px/30.43px;
  box-shadow: 8.94px 10.22px 17.45px #111e5273;
  position: relative;
  background: linear-gradient(180deg, rgb(102, 11, 253) 0%, rgb(118, 231, 34) 66.01%, rgb(36, 0, 255) 100%);
}

.frame-home .overlap-group-3 {
  width: 57px;
  height: 57px;
  border-radius: 28.56px/28.31px;
  filter: blur(10.64px);
  position: relative;
  top: 2px;
  left: 2px;
  background: radial-gradient(50% 50% at 50% 50%, rgb(36, 0, 255) 0%, rgb(255, 212, 11) 56.34%, rgb(11, 255, 172) 100%);
}

.frame-home .ellipse-7 {
  width: 49px;
  height: 48px;
  top: 3px;
  left: 3px;
  border-radius: 24.26px/24.05px;
  filter: blur(2.13px);
  position: relative;
  background: radial-gradient(50% 50% at 50% 50%, rgba(255, 255, 255, 0) 58.36%, rgba(255, 255, 255, 0.55) 100%);
}

.frame-home .MN-STR-SLD-3 {
  width: 59.13px;
  font-size: 24px;
  line-height: 23.2px;
  position: relative;
  font-family: "Sora", Helvetica;
  font-weight: 700;
  color: var(--greyscalewhite);
  letter-spacing: 0;
}

.frame-home .rectangle-10 {
  position: absolute;
  width: 387px;
  height: 578px;
  top: 272px;
  left: 1348px;
  background-color: #2400ff;
  border: 2.53px solid;
  border-color: var(--sharp-color-schemesharp-02-yellow);
}

.frame-home .line-2 {
  position: absolute;
  width: 44px;
  height: 1px;
  top: 557px;
  left: 1382px;
}

.frame-home .logo-design-logo {
  position: absolute;
  width: 331px;
  top: 360px;
  left: 1382px;
  font-family: "Sora", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 40px;
  letter-spacing: 0;
  line-height: 48px;
}

.frame-home .text-wrapper-23 {
  font-family: "Sora", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 40px;
  letter-spacing: 0;
  line-height: 48px;
}

.frame-home .text-wrapper-24 {
  font-size: 20px;
  line-height: 24px;
}

.frame-home .line-3 {
  position: absolute;
  width: 45px;
  height: 1px;
  top: 470px;
  left: 661px;
}

.frame-home .photography-product {
  position: absolute;
  width: 332px;
  top: 303px;
  left: 798px;
  font-family: "Sora", Helvetica;
  font-weight: 400;
  color: var(--greyscalewhite);
  font-size: 40px;
  letter-spacing: 0;
  line-height: 48px;
}

.frame-home .text-wrapper-25 {
  font-weight: 700;
}

.frame-home .rectangle-11 {
  position: absolute;
  width: 388px;
  height: 579px;
  top: 272px;
  left: 764px;
  border: 2.53px solid;
  border-color: var(--greyscalewhite);
}

.frame-home .line-4 {
  position: absolute;
  width: 44px;
  height: 1px;
  top: 656px;
  left: 236px;
}

.frame-home .print-ads-a-work-of {
  position: absolute;
  width: 332px;
  top: 472px;
  left: 235px;
  font-family: "Poppins", Helvetica;
  font-weight: 400;
  color: var(--greyscalewhite);
  font-size: 40px;
  letter-spacing: 0;
  line-height: 48px;
}

.frame-home .text-wrapper-26 {
  font-family: "Sora", Helvetica;
  font-size: 20px;
  line-height: 24px;
}

.frame-home .rectangle-12 {
  position: absolute;
  width: 387px;
  height: 579px;
  top: 272px;
  left: 202px;
  border: 2.53px solid;
  border-color: var(--greyscalewhite);
}

.frame-home .text-wrapper-27 {
  position: absolute;
  width: 629px;
  top: 86px;
  left: 125px;
  font-family: "Sora", Helvetica;
  font-weight: 700;
  color: var(--greyscalewhite);
  font-size: 90.8px;
  letter-spacing: -1.36px;
  line-height: 78.1px;
}

.frame-home .frame-29 {
  display: flex;
  flex-direction: column;
  width: 473px;
  align-items: flex-end;
  justify-content: center;
  position: absolute;
  top: 1548px;
  left: 0;
}

.frame-home .text-wrapper-28 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Poppins", Helvetica;
  font-weight: 500;
  font-style: italic;
  color: #000000;
  font-size: 24.9px;
  letter-spacing: 0;
  line-height: normal;
}

.frame-home .frame-30 {
  display: flex;
  flex-direction: column;
  width: 613px;
  align-items: flex-end;
  justify-content: center;
  position: absolute;
  top: 1738px;
  left: 0;
}

.frame-home .frame-31 {
  display: flex;
  flex-direction: column;
  width: 1422px;
  align-items: flex-end;
  justify-content: center;
  position: absolute;
  top: 1738px;
  left: 0;
}

.frame-home .frame-32 {
  display: flex;
  flex-direction: column;
  width: 1422px;
  align-items: flex-end;
  justify-content: center;
  position: absolute;
  top: 2189px;
  left: 0;
}

.frame-home .frame-33 {
  display: flex;
  flex-direction: column;
  width: 613px;
  align-items: flex-end;
  justify-content: center;
  position: absolute;
  top: 2199px;
  left: 0;
}

.frame-home .frame-34 {
  display: flex;
  flex-direction: column;
  width: 796px;
  align-items: flex-end;
  justify-content: center;
  position: absolute;
  top: 1621px;
  left: 0;
}

.frame-home .text-wrapper-29 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Poppins", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 43.6px;
  letter-spacing: 0;
  line-height: normal;
}

.frame-home .POSTER-DESIGN-wrapper {
  display: flex;
  flex-direction: column;
  width: 579px;
  align-items: flex-end;
  justify-content: center;
  position: absolute;
  top: 1778px;
  left: 0;
  z-index: 1;
}

.frame-home .BROCHURE-DESIGN-wrapper {
  display: flex;
  flex-direction: column;
  width: 1463px;
  align-items: flex-end;
  justify-content: center;
  position: absolute;
  top: 1778px;
  left: 0;
}

.frame-home .LOGO-DESIGN-wrapper {
  display: flex;
  flex-direction: column;
  width: 1384px;
  align-items: flex-end;
  justify-content: center;
  position: absolute;
  top: 2229px;
  left: 0;
}

.frame-home .MAGAZINE-DESIGN-wrapper {
  display: flex;
  flex-direction: column;
  width: 644px;
  align-items: flex-end;
  justify-content: center;
  position: absolute;
  top: 2239px;
  left: 0;
}

.frame-home .frame-35 {
  display: flex;
  flex-direction: column;
  width: 980px;
  align-items: flex-end;
  justify-content: center;
  position: absolute;
  top: 1738px;
  left: 0;

}

.frame-home .whatsapp-image-2 {
  position: relative;
  width: 293.52px;
  height: 369.79px;
  object-fit: cover;
  transition: transform 0.3s ease-in-out;
  pointer-events: none;
  z-index: 1;
  border-radius: 20px;
}

.frame-home .frame-36 {
  position: absolute;
  width: 520px;
  height: 59px;
  top: 1948px;
  left: 0;
}

.frame-home .frame-37 {
  position: absolute;
  width: 1329px;
  height: 59px;
  top: 1948px;
  left: 0;
}

.frame-home .frame-38 {
  position: absolute;
  width: 1329px;
  height: 59px;
  top: 2398px;
  left: 0;
}

.frame-home .frame-39 {
  position: absolute;
  width: 520px;
  height: 59px;
  top: 2408px;
  left: 0;
}

.frame-home .frame-40 {
  position: absolute;
  width: 520px;
  height: 51px;
  top: 1949px;
  left: 0;
}

.frame-home .frame-41 {
  position: absolute;
  width: 1329px;
  height: 51px;
  top: 1949px;
  left: 0;
}

.frame-home .frame-42 {
  position: absolute;
  width: 1329px;
  height: 51px;
  top: 2400px;
  left: 0;
}

.frame-home .frame-43 {
  position: absolute;
  width: 520px;
  height: 51px;
  top: 2410px;
  left: 0;
}

.frame-home .frame-44 {
  display: flex;
  flex-direction: column;
  width: 1962px;
  align-items: flex-end;
  justify-content: center;
  padding: 0px 3.05e-5px;
  position: absolute;
  top: 1736px;
  left: 0;
}

.frame-home .whatsapp-image-3 {
  position: relative;
  width: 483.09px;
  height: 372.28px;
  object-fit: cover;
}

.frame-home .frame-45 {
  display: flex;
  flex-direction: column;
  width: 981px;
  align-items: flex-end;
  justify-content: center;
  padding: 0px 3.05e-5px;
  position: absolute;
  top: 2189px;
  left: 0;
}

.frame-home .whatsapp-image-4 {
  position: relative;
  width: 293.84px;
  height: 369.79px;
  object-fit: cover;
}

.frame-home .dd-wrapper {
  display: flex;
  flex-direction: column;
  width: 1962px;
  align-items: flex-end;
  justify-content: center;
  padding: 0px 3.05e-5px;
  position: absolute;
  top: 2189px;
  left: 0;
}

.frame-home .dd {
  position: relative;
  width: 483.09px;
  height: 369.79px;
  object-fit: cover;
}

.frame-home .frame-46 {
  display: flex;
  flex-direction: column;
  width: 1242px;
  align-items: flex-end;
  justify-content: center;
  position: absolute;
  top: 3209px;
  left: 0;
}

.frame-home .text-wrapper-30 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Poppins", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 33.3px;
  letter-spacing: 0;
  line-height: normal;
}

.frame-home .frame-47 {
  display: flex;
  flex-direction: column;
  width: 552px;
  align-items: flex-end;
  justify-content: center;
  position: absolute;
  top: 3954px;
  left: 0;
}

.frame-home .text-wrapper-31 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Poppins", Helvetica;
  font-weight: 300;
  font-style: italic;
  color: #000000;
  font-size: 33.3px;
  letter-spacing: 0;
  line-height: normal;
}

.frame-home .frame-48 {
  display: flex;
  flex-direction: column;
  width: 552px;
  align-items: flex-end;
  justify-content: center;
  position: absolute;
  top: 4716px;
  left: 0;
}

.frame-home .frame-49 {
  display: flex;
  flex-direction: column;
  width: 1158px;
  align-items: flex-end;
  justify-content: center;
  position: absolute;
  top: 3954px;
  left: 0;
}

.frame-home .frame-50 {
  display: flex;
  flex-direction: column;
  width: 1158px;
  align-items: flex-end;
  justify-content: center;
  position: absolute;
  top: 4716px;
  left: 0;
}

.frame-home .frame-51 {
  display: flex;
  flex-direction: column;
  width: 1810px;
  align-items: flex-end;
  justify-content: center;
  position: absolute;
  top: 3954px;
  left: 0;
}

.frame-home .frame-52 {
  display: flex;
  flex-direction: column;
  width: 1810px;
  align-items: flex-end;
  justify-content: center;
  position: absolute;
  top: 4716px;
  left: 0;
}

.frame-home .element-unique-example-of-wrapper {
  display: flex;
  flex-direction: column;
  width: 744px;
  align-items: flex-end;
  justify-content: center;
  position: absolute;
  top: 4004px;
  left: 0;
}

.frame-home .element-unique-example-of {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Poppins", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 33.3px;
  letter-spacing: 0;
  line-height: normal;
}

.frame-home .frame-53 {
  display: flex;
  flex-direction: column;
  width: 744px;
  align-items: flex-end;
  justify-content: center;
  position: absolute;
  top: 4766px;
  left: 0;
}

.frame-home .frame-54 {
  display: flex;
  flex-direction: column;
  width: 1350px;
  align-items: flex-end;
  justify-content: center;
  position: absolute;
  top: 4004px;
  left: 0;
}

.frame-home .frame-55 {
  display: flex;
  flex-direction: column;
  width: 1350px;
  align-items: flex-end;
  justify-content: center;
  position: absolute;
  top: 4766px;
  left: 0;
}

.frame-home .frame-56 {
  display: flex;
  flex-direction: column;
  width: 2002px;
  align-items: flex-end;
  justify-content: center;
  position: absolute;
  top: 4004px;
  left: 0;
}

.frame-home .frame-57 {
  display: flex;
  flex-direction: column;
  width: 2002px;
  align-items: flex-end;
  justify-content: center;
  position: absolute;
  top: 4766px;
  left: 0;
}

.frame-home .frame-58 {
  display: flex;
  flex-direction: column;
  width: 1427px;
  align-items: flex-end;
  justify-content: center;
  position: absolute;
  top: 3281px;
  left: 0;
}

.frame-home .text-wrapper-32 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Poppins", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 58.3px;
  letter-spacing: 0;
  line-height: normal;
}

.frame-home .frame-59 {
  display: flex;
  flex-direction: column;
  width: 847px;
  align-items: flex-end;
  justify-content: center;
  position: absolute;
  top: 3502px;
  left: 0;
  overflow: hidden;
}

.frame-home .whatsapp-image-5 {
  position: relative;
  width: 487.01px;
  height: 426.56px;
}

.frame-home .frame-60 {
  display: flex;
  flex-direction: column;
  width: 847px;
  align-items: flex-end;
  justify-content: center;
  position: absolute;
  top: 4264px;
  left: 0;
  overflow: hidden;
}

.frame-home .frame-61 {
  display: flex;
  flex-direction: column;
  width: 1453px;
  align-items: flex-end;
  justify-content: center;
  position: absolute;
  top: 3502px;
  left: 0;
  overflow: hidden;
}

.frame-home .frame-62 {
  display: flex;
  flex-direction: column;
  width: 1453px;
  align-items: flex-end;
  justify-content: center;
  position: absolute;
  top: 4264px;
  left: 0;
  overflow: hidden;
}

.frame-home .frame-63 {
  display: flex;
  flex-direction: column;
  width: 2105px;
  align-items: flex-end;
  justify-content: center;
  position: absolute;
  top: 3502px;
  left: 0;
  overflow: hidden;
}

.frame-home .frame-64 {
  display: flex;
  flex-direction: column;
  width: 2105px;
  align-items: flex-end;
  justify-content: center;
  position: absolute;
  top: 4264px;
  left: 0;
  overflow: hidden;
}

.frame-home .vector-6 {
  top: 4125px;
  left: 302px;
  position: absolute;
  width: 487px;
  height: 1px;
}

.frame-home .overlap-11 {
  position: absolute;
  width: 774px;
  height: 240px;
  top: 5588px;
  left: 361px;
}

.frame-home .text-wrapper-33 {
  position: absolute;
  top: 0;
  left: 0;
  font-family: "Poppins", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 106.8px;
  letter-spacing: 0;
  line-height: 167.6px;
  white-space: nowrap;
}

.frame-home .feel-free-to-contact {
  position: absolute;
  top: 128px;
  left: 0;
  font-family: "Poppins", Helvetica;
  font-weight: 300;
  color: #a5a5a5;
  font-size: 35.4px;
  letter-spacing: 0;
  line-height: 55.6px;
}

.frame-home .line-5 {
  position: absolute;
  width: 758px;
  height: 3px;
  top: 5973px;
  left: 361px;
}

.frame-home .line-6 {
  position: absolute;
  width: 758px;
  height: 3px;
  top: 6104px;
  left: 361px;
}

.frame-home .line-7 {
  position: absolute;
  width: 758px;
  height: 3px;
  top: 6234px;
  left: 361px;
}

.frame-home .text-wrapper-34 {
  position: absolute;
  top: 5914px;
  left: 361px;
  font-family: "Poppins", Helvetica;
  font-weight: 700;
  color: #c1c1c1;
  font-size: 36.8px;
  letter-spacing: 0;
  line-height: 57.8px;
  white-space: nowrap;
}

.frame-home .text-wrapper-35 {
  position: absolute;
  top: 6045px;
  left: 361px;
  font-family: "Poppins", Helvetica;
  font-weight: 700;
  color: #c1c1c1;
  font-size: 36.8px;
  letter-spacing: 0;
  line-height: 57.8px;
  white-space: nowrap;
}

.frame-home .text-wrapper-36 {
  position: absolute;
  top: 6176px;
  left: 361px;
  font-family: "Poppins", Helvetica;
  font-weight: 700;
  color: #c1c1c1;
  font-size: 36.8px;
  letter-spacing: 0;
  line-height: 57.8px;
  white-space: nowrap;
}

.frame-home .overlap-12 {
  position: absolute;
  width: 758px;
  height: 73px;
  top: 6325px;
  left: 361px;
  background-color: #0038ff;
}

.frame-home .text-wrapper-37 {
  position: absolute;
  top: 6px;
  left: 303px;
  font-family: "Poppins", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 36.8px;
  letter-spacing: 23.75px;
  line-height: 57.8px;
  white-space: nowrap;
}

.frame-home .text-wrapper-38 {
  position: absolute;
  top: 5729px;
  left: 1355px;
  font-family: "Poppins", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 72.3px;
  letter-spacing: 0;
  line-height: 113.5px;
  white-space: nowrap;
}

.frame-home .text-wrapper-39 {
  position: absolute;
  top: 6025px;
  left: 1489px;
  font-family: "Poppins", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 25.8px;
  letter-spacing: 0;
  line-height: 40.6px;
  white-space: nowrap;
}

.frame-home .element-6 {
  position: absolute;
  width: 83px;
  height: 80px;
  top: 5894px;
  left: 1385px;
  object-fit: cover;
}

.frame-home .ddd {
  position: absolute;
  width: 86px;
  height: 79px;
  top: 6007px;
  left: 1385px;
  object-fit: cover;
}

.frame-home .ofctwn {
  position: absolute;
  width: 62px;
  height: 76px;
  top: 6120px;
  left: 1406px;
  object-fit: cover;
}

.caption1 {
  opacity: 0;
  transition: opacity 0.3s ease;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: justify;
  color: white;
  font-weight: normal;
  font-family: 'poppins';
}

.container-1 {
  position: relative;
  display: inline-block;
  transition: transform 0.3s ease;
  cursor: pointer;
}

.container-1:hover {
  transform: translateX(20px);
  background-color: palevioletred;
}

#imageModal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.9);
}

.modal-content {
  max-width: 80%;
  max-height: 80%;
  overflow: hidden;
}

.whatsapp-image-modal {
  width: 100%;
  height: auto;
}

.caption {
  margin: 10px 0;
  color: #fff;
  text-align: center;
  font-size: 16px;
}

.image-modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1;
  overflow: hidden;
}

.close {
  position: absolute;
  top: 15px;
  right: 15px;
  font-size: 30px;
  cursor: pointer;
  color: #fff; /* Adjust the color as needed */
}

